{{! Effects Tab }}
<section class="tab effects flexcol scrollable {{tab.cssClass}}" data-group="primary" data-tab="effects">
  <ul class="effects-list">
    {{#each effects as |section sid|}}
    <li class="effects-header flexrow draggable" data-effect-type="{{section.type}}">
      <div class="effect-label flexrow">
        {{localize section.label}}
      </div>
      <div class="effect-source">
        {{localize "EFFECT.FIELDS.origin.label"}}
      </div>
      <div class="effect-source">{{localize "EFFECT.TABS.duration"}}</div>
      <div class="document-controls flexrow">
        <a class="effect-controls"
          data-action="createDoc" data-document-class="ActiveEffect"
          {{#if (eq section.type "inactive" )}} data-disabled="true"
          {{else if (eq section.type "temporary" )}} data-duration.rounds="1" {{/if}}
          data-origin="{{@root.document.uuid}}"
          title="{{localize 'DOCUMENT.Create' type=(localize 'DOCUMENT.ActiveEffect')}}"
          data-img="icons/svg/aura.svg"
        >
          <i class="fas fa-plus"></i>
          {{localize "DOCUMENT.New" type=(localize "UTS.Effect.Label")}}
        </a>
      </div>
    </li>

    <ul class="effect-list">
      {{#each section.effects as |effect|}}
      <li class="effect flexrow draggable" data-effect-id="{{effect.id}}" data-parent-id="{{effect.parent.id}}"
        data-document-class="ActiveEffect">
        <div class="effect-label flexrow">
          <img class="effect-image" src="{{effect.img}}" height="24" width="24">
          <div class="effect-name">{{effect.name}}</div>
        </div>
        <div class="effect-source">{{effect.sourceName}}</div>
        <div class="effect-duration">{{effect.duration.label}}</div>
        <div class="document-controls flexrow">
          {{#if @root.editable}}
          <a class="effect-control" data-action="toggleEffect" title="{{localize 'UTS.Effect.Toggle'}}">
            <i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i>
          </a>
          {{/if}}
          <a class="effect-control" data-action="viewDoc" title="{{localize 'DOCUMENT.Update' type=(localize 'DOCUMENT.ActiveEffect')}}">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
          <a class="effect-control" data-action="deleteDoc" title="{{localize 'DOCUMENT.Delete' type=(localize 'DOCUMENT.ActiveEffect')}}">
            <i class="fas fa-trash"></i>
          </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ul>
    {{/each}}
  </ul>
</section>
