<div class="tab {{tab.cssClass}}" data-group="primary" data-tab="properties">
  {{#each fields as |field|}}
  {{#if field.fieldset}}
  <fieldset>
    <legend>{{localize field.legend}}</legend>
    {{#each field.fields as |f|}}
    {{formField f.field value=f.value localize=true}}
    {{/each}}
  </fieldset>
  {{else}}
  {{formField outer.field value=outer.value localize=true}}
  {{/if}}
  {{/each}}
</div>
